@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  text-align: center;
  margin-block: 15px;
}

.conteudoPrincipal,
footer,
header {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.infosTopo {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  color: white;
}

.valorTotal {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 231, 231);
}

.btnFinalizar {
  padding: 10px 30px;
  background-color: rgb(17, 190, 138);
  text-align: center;
  border-radius: 12px;
  color: white;
}

.btnFinalizar:hover {
  cursor: pointer
}

.infosTopo,
.cardItems,
.valorTotal {
  margin-bottom: 15px;
  padding: 20px 8px;
  border-radius: 12px;
}

.cardItems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  background-color: rgb(248, 248, 248);
  padding: 20px 8px;
  border-radius: 12px;
}